<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carels.mes.module.cost.mapper.CostItemMapper">

    <resultMap type="com.carels.mes.module.cost.domain.CostItem" id="CostItemResult">
        <id property="itemId" column="item_id"/>
        <result property="itemCode" column="item_code"/>
        <result property="itemName" column="item_name"/>
        <result property="costType" column="cost_type"/>
        <result property="allocationMethod" column="allocation_method"/>
        <result property="standardCost" column="standard_cost"/>
        <result property="status" column="status"/>
        <result property="sortNo" column="sort_no"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectCostItemVo">
        select item_id, item_code, item_name, cost_type, allocation_method, standard_cost,
               status, sort_no, remark, create_by, create_time, update_by, update_time
        from cost_item
    </sql>

    <select id="selectCostItemList" parameterType="com.carels.mes.module.cost.domain.CostItem" resultMap="CostItemResult">
        <include refid="selectCostItemVo"/>
        <where>
            <if test="itemCode != null and itemCode != ''">
                and item_code like concat('%', #{itemCode}, '%')
            </if>
            <if test="itemName != null and itemName != ''">
                and item_name like concat('%', #{itemName}, '%')
            </if>
            <if test="costType != null and costType != ''">
                and cost_type = #{costType}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
        order by sort_no asc
    </select>

    <select id="selectCostItemById" parameterType="Long" resultMap="CostItemResult">
        <include refid="selectCostItemVo"/>
        where item_id = #{itemId}
    </select>

    <insert id="insertCostItem" parameterType="com.carels.mes.module.cost.domain.CostItem" useGeneratedKeys="true" keyProperty="itemId">
        insert into cost_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemCode != null">item_code,</if>
            <if test="itemName != null">item_name,</if>
            <if test="costType != null">cost_type,</if>
            <if test="allocationMethod != null">allocation_method,</if>
            <if test="standardCost != null">standard_cost,</if>
            <if test="status != null">status,</if>
            <if test="sortNo != null">sort_no,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemCode != null">#{itemCode},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="costType != null">#{costType},</if>
            <if test="allocationMethod != null">#{allocationMethod},</if>
            <if test="standardCost != null">#{standardCost},</if>
            <if test="status != null">#{status},</if>
            <if test="sortNo != null">#{sortNo},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateCostItem" parameterType="com.carels.mes.module.cost.domain.CostItem">
        update cost_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="costType != null">cost_type = #{costType},</if>
            <if test="allocationMethod != null">allocation_method = #{allocationMethod},</if>
            <if test="standardCost != null">standard_cost = #{standardCost},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sortNo != null">sort_no = #{sortNo},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where item_id = #{itemId}
    </update>

    <delete id="deleteCostItemById" parameterType="Long">
        delete from cost_item where item_id = #{itemId}
    </delete>

    <delete id="deleteCostItemByIds">
        delete from cost_item where item_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
