<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carels.mes.module.qc.mapper.QcOqcMapper">
    <resultMap type="com.carels.mes.module.qc.domain.QcOqc" id="QcOqcResult">
        <id property="id" column="id"/>
        <result property="inspectNo" column="inspect_no"/>
        <result property="workorderId" column="workorder_id"/>
        <result property="workorderNo" column="workorder_no"/>
        <result property="clientId" column="client_id"/>
        <result property="clientName" column="client_name"/>
        <result property="itemId" column="item_id"/>
        <result property="itemCode" column="item_code"/>
        <result property="itemName" column="item_name"/>
        <result property="inspectQty" column="inspect_qty"/>
        <result property="qualifiedQty" column="qualified_qty"/>
        <result property="unqualifiedQty" column="unqualified_qty"/>
        <result property="inspectResult" column="inspect_result"/>
        <result property="status" column="status"/>
        <result property="inspectorId" column="inspector_id"/>
        <result property="inspectorName" column="inspector_name"/>
        <result property="inspectDate" column="inspect_date"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectQcOqcVo">
        select id, inspect_no, workorder_id, workorder_no, client_id, client_name,
               item_id, item_code, item_name, inspect_qty, qualified_qty, unqualified_qty,
               inspect_result, status, inspector_id, inspector_name, inspect_date, remark,
               create_by, create_time, update_by, update_time
        from qc_oqc
    </sql>

    <select id="selectQcOqcList" resultMap="QcOqcResult">
        <include refid="selectQcOqcVo"/>
        <where>
            <if test="inspectNo != null and inspectNo != ''">
                AND inspect_no like concat('%', #{inspectNo}, '%')
            </if>
            <if test="workorderNo != null and workorderNo != ''">
                AND workorder_no like concat('%', #{workorderNo}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectQcOqcById" resultMap="QcOqcResult">
        <include refid="selectQcOqcVo"/>
        where id = #{id}
    </select>

    <insert id="insertQcOqc" useGeneratedKeys="true" keyProperty="id">
        insert into qc_oqc (inspect_no, workorder_id, workorder_no, client_id, client_name,
            item_id, item_code, item_name, inspect_qty, qualified_qty, unqualified_qty,
            status, inspector_id, inspector_name, inspect_date, remark, create_by, create_time)
        values (#{inspectNo}, #{workorderId}, #{workorderNo}, #{clientId}, #{clientName},
            #{itemId}, #{itemCode}, #{itemName}, #{inspectQty}, #{qualifiedQty}, #{unqualifiedQty},
            #{status}, #{inspectorId}, #{inspectorName}, #{inspectDate}, #{remark}, #{createBy}, sysdate())
    </insert>

    <update id="updateQcOqc">
        update qc_oqc
        <set>
            <if test="inspectNo != null">inspect_no = #{inspectNo},</if>
            <if test="workorderId != null">workorder_id = #{workorderId},</if>
            <if test="workorderNo != null">workorder_no = #{workorderNo},</if>
            <if test="clientId != null">client_id = #{clientId},</if>
            <if test="clientName != null">client_name = #{clientName},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="inspectQty != null">inspect_qty = #{inspectQty},</if>
            <if test="qualifiedQty != null">qualified_qty = #{qualifiedQty},</if>
            <if test="unqualifiedQty != null">unqualified_qty = #{unqualifiedQty},</if>
            <if test="inspectResult != null">inspect_result = #{inspectResult},</if>
            <if test="status != null">status = #{status},</if>
            <if test="inspectorId != null">inspector_id = #{inspectorId},</if>
            <if test="inspectorName != null">inspector_name = #{inspectorName},</if>
            <if test="inspectDate != null">inspect_date = #{inspectDate},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteQcOqcById">
        delete from qc_oqc where id = #{id}
    </delete>

    <update id="updateStatus">
        update qc_oqc set status = #{status}, update_time = sysdate() where id = #{id}
    </update>
</mapper>
